<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{/fragments/resources :: head(pageTitle='Photo List')}"></th:block>
</head>
<body>
<nav th:replace="~{/fragments/resources :: navbar(currentPage='photos')}"></nav>
<div  th:replace="~{/fragments/resources :: messages}"></div>

<!--faro' una serie di card solo con l'immagine e una scritta in hover che ti fa andare al dettaglio-->
<div class="container pb-5">
    <div class="row g-4 mt-3">
<!--        messaggio che cambiera' in base all'utente-->
        <div class="col-6">
            <h1 class="mb-3">Benvenuto visitatore nel Photo Portfolio di MeMedesimo</h1>
            <a th:href="@{/photos/create}" class="btn btn-dark">Aggiungi una foto</a>

        </div>
        <div class="col-6">
            <form th:action="@{/photos}" method="GET">

                    <label for="keyword" class="form-label fw-bold">Cerca Una Foto</label>
                    <input type="text" class="form-control my-3" id="keyword" name="keyword" placeholder="Cerca Qui...">

                <button type="submit" class="btn btn-primary">Ricerca</button>
            </form>
        </div>

        <div class="col-3" th:if="${photos.size > 0}" th:each="photo : ${photos}">
<!--            v-if="photo.visible !== false"-->
            <div class="card border-primary border-3 border-opacity-50">
<!--                sec:authorize="hasAuthority('ADMIN')"  questo mi servira' piu' avanti-->
                <a  class="bottone-to-detail" th:href="@{|/photos/${photo.id}|}">
                    <img th:src="${photo.url}" class="card-img-top" th:alt="${photo.title}">

                </a>
                <div class="card-body">
                    <p class="card-text fs-4" th:text="${photo.title}"></p>
                </div>
            </div>

        </div>
        <div class="col-12 alert alert-info mt-5 fw-bold" th:unless="${photos.size > 0}">We are sorry but there are no photos in this portfolio yet</div>
    </div>
</div>

</body>
</html>