<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- fragment che si chiama head e prende un parametro title -->
  <th:block th:fragment="head(pageTitle)">
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <!-- includo bootstrap css e js -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Belanosima:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/CSS/style.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/6.4.0/css/all.min.css}">
    <script defer th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js}"></script>
    <!-- il title della pagina cambia e lo leggo dal parametro del fragment -->
    <title th:text="${pageTitle}"></title>
  </th:block>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary p-0 border-bottom border-primary border-3 border-opacity-50 " th:fragment="navbar(currentPage)">
  <div class="container-fluid">
    <a class="navbar-brand" th:href="@{/photos}"><img class="logo-navbar" src="https://i.pinimg.com/736x/0d/cf/b5/0dcfb548989afdf22afff75e2a46a508.jpg"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link fw-bold fs-5" aria-current="page" th:href="@{/photos}" th:classappend="${currentPage == 'photos' ? 'active' : ''}">Photos List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold fs-5" th:href="@{/categories}" th:classappend="${currentPage == 'categories' ? 'active' : ''}">Categories</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div th:fragment="messages">
  <div class="alert alert-warning fw-bold" role="alert" th:if="${message != null}" th:text="${message}"></div>
</div>

<hr>
</body>